.headerDiv {
    height: 10vh;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #7bd6fa;
    position: sticky;
    width: 60%;
}

.resumeTab, .projectsTab, .contactTab, .skillsTab, .mainTab {
    text-align: center;
    width: 10rem;
}

.projectsTab:hover, .contactTab:hover, .resumeTab:hover, .skillsTab:hover, .mainTab:hover {
    cursor: pointer;
}

.resumeTab::before {
    content: "Resume";
}

.resumeTab:hover::before {
    content: none;
}

.resumeTab:hover::after {
    content: "View in Browser";
}

.contactTab{
    margin-right: 2rem;;
}

.navBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    animation: fade-in 3s 1;
    z-index: 100;
    margin-bottom: 25rem;
    position: fixed;
    background-color: #1b1b1b;
}

@media screen and (max-width: 1400px) {
 
    .navBar {
        gap: 1rem;
        justify-content: space-evenly;
        font-size: 1.2rem;
        width: 100%;
    }
}